
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Новости от Дмитрия</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/site/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="/assets/site/blog.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="{{ path("fos_user_registration_register") }}">Зарегистрироваться</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="{{ path('homepage') }}">Новости от Дмитрия</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                {% if is_granted("ROLE_ADMIN") %}
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path("profile") }}">Личный кабинет</a>
                {% endif %}
                {% if is_granted("ROLE_USER") %}
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path("create_news") }}">Предложить новость</a>
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path("fos_user_security_logout") }}">Выйти</a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-secondary" href="{{ path("fos_user_security_login") }}">Войти</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            {% for category in categories %}
                <a class="p-2 text-muted" href="{{ path("category_news",{ "id": category.id }) }}">{{ category.title }}</a>
            {% endfor %}
        </nav>
    </div>

{% block content %}{% endblock %}

<footer class="blog-footer">
    <p>Создано мной</p>
    <p>
        <a href="#">Наверх</a>
    </p>
</footer>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</body>
</html>
