{% extends "layouts/site.layout.html.twig" %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="row col-lg">
                <div class="align-items-start">
                    <strong class="text-primary">{{ news.category.title }}</strong>
                    <h1 class="col-lg">
                        {{ news.title }}
                    </h1>
                    <h4 >{{ news.body }}</h4>
                    <h5>Автор: {{ news.author.username }}</h5>
                    {{  form(form) }}

                </div>
            </div>
        </div>



        </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}