{% extends "layouts/site.layout.html.twig" %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="row col-lg-6">
                {{  form(form, {'method': 'POST'}) }}
            </div>
        </div>
        </div><!-- /.row -->
    </main><!-- /.container -->
{% endblock %}