{% extends "layouts/site.layout.html.twig" %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <h1>Результаты поиска:</h1>
            <div class="row mb-2">

                {% for n in news %}
                        <div class="col-md-6">
                            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                <div class="card-body d-flex flex-column align-items-start">
                                    <strong class="d-inline-block mb-2 text-primary">{{ n.category.title }}</strong>
                                    <h3 class="mb-0">
                                        <a class="text-dark" href="{{ path("show_news",{ "id": n.id }) }}">{{ n.title }}</a>
                                    </h3>
                                    <div class="mb-1 text-muted"></div>
                                    <h3 class="card-text mb-auto" style="overflow: hidden; text-overflow: ellipsis;">{{ n.body }}</h3>
                                    <h5>Автор: <a href="{{ path("show_user",{ "id": n.author.id }) }}">{{ n.author.username }}</a> </h5>
                                    <a href="{{ path("show_news",{ "id": n.id }) }}">Подробнее...</a>
                                    {%  for t in n.tags %}
                                        <li><a href="{{ path('tag_news',{"id": t.id }) }}">{{ t.title }}</a></li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                {% endfor %}

            </div>
        </div>

        <aside class="col-md-4 blog-sidebar">
            <div class="p-3">
                <h4 class="font-italic">Тэги</h4>
                <ol class="list-unstyled mb-0">
                    {%  for tag in tags %}
                        <li><a href="">{{ tag.title }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}