{% extends "layouts/site.layout.html.twig" %}

{% block content %}
    <main role="main" class="container">
        <div>
            <hr>
            <h4><b>Имя пользователя:</b> {{ user.username }}</h4>
            <h4><b>Email:</b> {{ user.email }}</h4>
            <h4><b>Рейтинг:</b> очень большой</h4>
            <hr>
        </div>
        <div class="row">
            <div>
                <h2>Статьи:</h2>
                {% for n in  news %}
                    <h4><a href="{{ path("show_news",{ "id": n.id }) }}">{{ n.title }}</a></h4>
                {% endfor %}
            </div>
        </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}