{% extends "layouts/site.layout.html.twig" %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="row col-lg">
                    <div class="align-items-start">
                        <strong class="text-primary">{{ news.category.title }}</strong>
                        <h1 class="col-lg">
                            {{ news.title }}
                        </h1>
                        <h4 >{{ news.body }}</h4>
                        <h5>Автор: {{ news.author.username }}</h5>
                        <div>
                            <button class="btn">
                                Актуально
                            </button>
                            <button class="btn">
                                Не Актуально
                            </button>
                        </div>
                        <div>
                            <button class="btn">
                                Нравится
                            </button>
                            <button class="btn">
                                Не нравится
                            </button>
                        </div>
                        <div>
                            <button class="btn">
                                Качественно
                            </button>
                            <button class="btn">
                                Некачественно
                            </button>
                        </div>
                    </div>
            </div>
        </div>
        <div>
            {% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
                <label>Оставьте коммент, будьте добры</label>
                {{  form(form, {'method': 'POST'}) }}
                {% else %}
                <h4>Комментировать могут только зарегистрировавшиеся пользователи.</h4>
            {% endif %}

        </div>
        <div>
            <ul>
                {% for comment in news.comments %}
                    <h4>{{ comment.author }}:</h4><p>{{ comment.body }}</p>
                {% endfor %}
            </ul>

        </div>

        <aside class="col-md-4 blog-sidebar">
            <div class="p-3">
                <h4 class="font-italic">Тэги</h4>
                <ol class="list-unstyled mb-0">
                    {%  for tag in tags %}
                        <li><a href="">{{ tag.title }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}